:root {
  --primary-color: #FFFFFF;
  --secondary-color: rgba(255, 255, 255, 0.8);
  --accent-color: #FEDE59;
  --black: #1A1918;
}

/* Global
========================= */

/* Typography
========================= */

/* Layout
========================= */